body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D9D9D9;

  /* Disable horizontal scrollbar */
  overflow-x: hidden;
}

.mainText {
  font-family: 'Jura', sans-serif;
  color: #212226;
}

.navbar {
  background-color: #595959;
  height: "10%";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buttonClass {
  borderRadius: 90; 
  fontSize: 30;
  minWidth: '10px';
  minHeight: '10px';
  maxWidth: '30px';
  maxHeight: '40px';
}

.synapse {
  stroke: linear-gradient(to right, red , yellow);;
}


/* NAVBAR */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #595959;
}

li.navbarTab {
  float: left;
}

li a {
  font-size: 85%;
  display: block;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: #111;
}

.active {
  background-color: #4CAF50;
}